.container {
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
}
.paragraflink {
  font-family: monospace;
}

.headerHomeImage {
  width: 10rem;
  height: 10rem;
}
